.popup__container {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: calc(100% - 22.5%);
  max-width: 430px;
  min-height: 330px;
}


@media screen and (max-width: 425px){
  .popup__container{
    width: calc(100% - 35.5%);
  }
}