@import url(./__add-button/profile__add-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__user-name/profile__user-name.css);
@import url(./__user-profession/profile__user-profession.css);
@import url(./__user-info/profile__user-info.css);

.profile {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 882px;
  width: calc(100% - 22.5%);
  height: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ;
}