@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/footer/footer.css);